.grid-container {
  display: grid;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  grid-template-columns: minmax(0, 1fr);
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.faded {
  color: gray;
}

.footer-text {
  text-align: center;
  padding-bottom: 30px;
}


.user-pages {
  /*overflow: hidden;*/
}

.user-page {
  /*overflow: auto;*/
}
