@use '~@angular/material' as mat;

$hyperion: (
  primary: #00a6de,
  accent: #fa7600,
  contrast: (
    primary: white,
    accent: white,
  )
);

$primary: mat.define-palette($hyperion, primary);
$accent: mat.define-palette($hyperion, accent);
$theme: mat.define-light-theme($primary, $accent);

@include mat.all-component-themes($theme);

.primary {
  color: mat.get-color-from-palette($hyperion, primary);
}

.accent {
  color: mat.get-color-from-palette($hyperion, accent);
}
