<div style="height: 100vh" fxLayout="column" fxLayoutAlign="space-between stretch" >
  <mat-card class="search-card" fxLayout="column" fxLayoutAlign="end center">
    <div fxLayout="column" fxLayoutAlign="center center" style="text-align: center;" fxLayoutGap="20px">
    <img src="assets/logo.png" alt="logo" class="logo">
    <form [formGroup]="searchForm" (ngSubmit)="submit()">


      <div fxLayout="row" fxLayoutAlign="center stretch">

          <div fxLayout="column">
          <mat-form-field appearance="outline" class="home-search-input" style="height: 100%" fxFlex="grow">
            <label>
              <input matInput formControlName="search_field" [matAutocomplete]="auto"
                     [placeholder]="searchPlaceholder">
            </label>
            <mat-error *ngIf="err">{{err}}</mat-error>
          </mat-form-field>
          </div>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="submit()">
            <mat-option *ngFor="let account of filteredAccounts" [value]="account">{{account}}</mat-option>
          </mat-autocomplete>

        <button mat-stroked-button matSuffix type="submit" [attr.aria-label]="'search'" class="search-btn"
                (keyup.enter)="submit()">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>

      </div>

    </form>
      <div>
        <div style="margin-bottom: 10px;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
          <span>Connected to</span>
          <span class="outline" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <img [src]="chainData.chainInfoData.logo" alt="logo" style="height: 28px">
            <span>{{chainData.chainInfoData.chain_name}}</span>
          </span>
        </div>
        <div>Provided by <a [href]="chainData.chainInfoData.provider_url" target="_blank">{{chainData.chainInfoData.provider}}</a>
        </div>
      </div>
    </div>
  </mat-card>

    <!-- ACTIONS -->
    <mat-card fxFlex="100" fxFlexFill>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <h3 style="margin-top: 0;">
          <fa-layers [fixedWidth]="true" style="margin-right: 5px">
            <fa-icon [icon]="faCircle" transform="grow-3"></fa-icon>
            <fa-icon [icon]="faHistory" [inverse]="true" transform="shrink-5"></fa-icon>
          </fa-layers>
          Transactions
        </h3>
  
        <span class="lib">Last Irreversible Block: <strong class="monospace">{{accountService.libNum}}</strong></span>
  
        <div *ngIf="evm.streamClientLoaded" (click)="evm.toggleStreaming()" class="livestream"
             matTooltip="click to turn on/off"
             matTooltipClass="tooltip-bigger">
          action live streaming <span class="w-500">{{evm.streamClientStatus ? 'enabled' : 'disabled'}}</span>
          <span class="dot"
                [ngClass]="{'pulse': evm.streamClientStatus, 'red-dot': !evm.streamClientStatus}"></span>
        </div>
      </div>
  
      <table mat-table [dataSource]="evm.recentTransactions"
             matSort
             matSortActive="block"
             matSortStart="desc"
             matSortDirection="desc" class="actions-table">
  
        <ng-container matColumnDef="hash">
          <th mat-header-cell *matHeaderCellDef [ngStyle.gt-xs]="{'min-width': '100px'}">TX Hash</th>
          <td mat-cell *matCellDef="let trx" data-label="TX">
  <!--          <span *ngIf="evm.libNum < trx['block_num']"-->
  <!--                matTooltip="time until irreversible" matTooltipClass="tooltip-bigger">-->
  <!--            <fa-icon [icon]="faClock" class="accent" style="margin-right: 1px"></fa-icon>-->
  <!--            {{(trx['block_num'] - evm.libNum) / 2}}s-->
  <!--          </span>-->
            <a [routerLink]="['/evm/transaction', trx['hash']]" class="link-blue monospace">
              {{trx['evm_hash'].slice(0,16)}}...
            </a>
          </td>
        </ng-container>
  
  
        <!-- Block & Date Column -->
        <ng-container matColumnDef="block">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle.gt-xs]="{'min-width': '70px'}">Block & Date</th>
          <td mat-cell *matCellDef="let trx" data-label="Block & Date">
            <a [routerLink]="['/evm/block', trx['evm_block']]" class="link-blue">{{trx['block_num']}}</a>
            <br>
            <span> {{formatDate(trx['@timestamp'])}}</span>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="fromAddr">
          <th mat-header-cell *matHeaderCellDef [ngStyle.gt-xs]="{'min-width': '100px'}">From</th>
          <td mat-cell *matCellDef="let trx" data-label="From">
            <a *ngIf="trx['from']" [routerLink]="['/evm/address', trx['from']]" class="link-blue monospace">
              {{trx['from'].slice(0,16)}}...
            </a>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="toAddr">
          <th mat-header-cell *matHeaderCellDef [ngStyle.gt-xs]="{'min-width': '100px'}">To</th>
          <td mat-cell *matCellDef="let trx" data-label="To">
            <a *ngIf="trx['to']" [routerLink]="['/evm/address', trx['to']]" class="link-blue monospace">
              {{trx['to'].slice(0,16)}}...
            </a>
            <a *ngIf="!trx['to']" class="monospace">
              0x0
            </a>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="nativeValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle.gt-xs]="{'min-width': '100px'}">Value</th>
          <td mat-cell *matCellDef="let trx" data-label="Value">
            {{trx['val_formatted']}}
          </td>
        </ng-container>
  
        <!--suppress AngularUndefinedBinding -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  
        <!--suppress AngularUndefinedBinding -->
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  
      </table>
  
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"
                     [length]="evm.addressTransactions.filteredData.length"
                     (page)="changePage($event)"
                     showFirstLastButtons>
      </mat-paginator>
  
      <button mat-stroked-button color="primary" class="float-r" style="margin-right: 16px;"
              (click)="evm.loadMoreTransactions(address)">
        load more actions
      </button>
    </mat-card>
  <div class="faded footer-text" style="">Made with ❤ by EOS Rio</div>
</div>
